{% extends "base.html" %}

{% block content%}
<script src="{{ url_for('static', path='/three.js') }}"></script>
<script src="{{ url_for('static', path='/OrbitControls.js') }}"></script>
<script>
    B = {{cube['_B']}};
    F = {{cube['_F']}};
    D = {{cube['_D']}};
    U = {{cube['_U']}};
    L = {{cube['_L']}};
    R = {{cube['_R']}};
</script>

<script src="{{ url_for('static', path='/manipulations.js') }}"></script>

    <div class="tier tier-1">
        <div class="btn btn-primary mrl">R</div>  <div class="btn btn-primary mll">R'</div>
    </div>

    <div class="tier tier-2">
        <div class="btn btn-primary mrl">L</div>  <div class="btn btn-primary mll">L'</div>
    </div>

    <div class="tier tier-3">
        <div class="btn btn-primary mrl">T</div>  <div class="btn btn-primary mll">T'</div>
    </div>

    <div class="tier tier-4">
        <div class="btn btn-primary mrl">D</div>  <div class="btn btn-primary mll">D'</div>
    </div>

    <div class="tier tier-5">
        <div class="btn btn-primary mrl">F</div>  <div class="btn btn-primary mll">F'</div>
    </div>

    <div class="tier tier-6">
        <div class="btn btn-primary mrl">B</div>  <div class="btn btn-primary mll">B'</div>
    </div>


    <div class="bottom-control">
        <div class="black">Rotate camera:</div>
        <div class="btn btn-primary mrl" onclick="rotate(1)">clockwise</div> <div class="btn btn-primary mrl" onclick="rotate(0)">stop</div> <div class="btn btn-primary mrl" onclick="rotate(-1)">counterclockwise</div>
    </div>

{% endblock %}